@model SnookerTrainingCore.Domain.Entidades.Templates.RotinaTemplate;

<link href="~/css/styles/detalhes-categoria.css" rel="stylesheet" />

<div id="page-form" class="container">
    <main>
        <fieldset>
            <legend>Detalhes</legend>
            <form asp-action="Editar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdRotina" />
                <div class="input-block">
                    <label asp-for="Nome" class="control-label">Nome: </label>
                    <label asp-for="Nome" class="form-control">@Model.Nome</label>
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                @if (Model.Imagem != null)
                {
                    <img id="imagem" src="@Url.Content(Model.Imagem)" width="340" height="200" alt="Foto" />
                }
                else
                {
                    <img id="imagem" src="~/default-imagem/mesa.png" width="340" height="200" alt="Foto" />
                }

                <div class="input-block">
                    <label asp-for="Descricao" class="control-label">Descrição: </label>
                    <label asp-for="Descricao" class="form-control">@Model.Descricao</label>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="input-block">
                    <label asp-for="TipoMeta" class="control-label">Descrição: </label>
                    <label asp-for="TipoMeta" class="form-control">@Model.TipoMeta</label>
                    <span asp-validation-for="TipoMeta" class="text-danger"></span>
                </div>
                <div class="input-block">
                    <label asp-for="Meta" class="control-label">Descrição: </label>
                    <label asp-for="Meta" class="form-control">@Model.Meta</label>
                    <span asp-validation-for="Meta" class="text-danger"></span>
                </div>
                <div class="input-block">
                    <label asp-for="Categoria" class="control-label">Descrição: </label>
                    <label asp-for="Categoria" class="form-control">@Model.Categoria.Nome</label>
                    <span asp-validation-for="Categoria" class="text-danger"></span>
                </div>
                <footer>
                    <div>
                        <button asp-action="Index">Voltar</button>
                    </div>
                    <div class="input-block">
                        <a asp-action="Editar" asp-route-id="@Model.IdRotina">Editar</a>
                    </div>
                </footer>
            </form>
        </fieldset>
    </main>
</div>

@*@section Scripts {
    <script>
        function CarregarImagem(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#imagem").attr('src', e.target.result).width(340).height(200);
                }
            }
            reader.readAsDataURL(input.files[0]);
        }
    </script>
}*@

