@model IEnumerable<SnookerTrainingCore.Domain.Entidades.Templates.TreinoTemplate>;

    <link href="~/css/styles/listar-categoria.css" rel="stylesheet" />

    <div id="page-form" class="container">
        <main>
            <div class="top">
                <div>
                    <p>Adicionar Treino</p>
                </div>
                <div class="input-block">
                    <a type="button" asp-action="Adicionar" id="btn-add">Adicionar</a>
                </div>
            </div>            
            <fieldset>
                <legend>Treinos</legend>
                @foreach (var item in Model)
                {
                    <div class="cabecalho">
                        <div>
                            <p>Treino : @item.Nome</p>
                        </div>
                        <div>
                            <a asp-action="Editar" asp-route-id="@item.IdTreino">Editar</a>
                        </div>
                        <div>
                            <a asp-action="Detalhes" asp-route-id="@item.IdTreino">Detalhes</a>
                        </div>
                        <div>
                            <a asp-action="Delete" asp-route-id="@item.IdTreino">Remover</a>
                        </div>
                    </div>

                    <table class="table">
                        <thead >
                            <tr class="cabecalho-rotina">
                                <th>
                                    Rotina
                                </th>
                                <th>
                                    Descrição
                                </th>                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var rotina in item.RotinasTemplate)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => rotina.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => rotina.Descricao)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </fieldset>
        </main>
    </div>

