@model IEnumerable<SnookerTrainingCore.Domain.Entidades.Rotina>;

    <link href="~/css/styles/listar-categoria.css" rel="stylesheet" />

    <div id="page-form" class="container">
        <main>
            <div class="top">
                <div>
                    <p>Adicionar Rotina</p>
                </div>
                <div class="input-block">
                    <a type="button" asp-action="Adicionar" id="btn-add">Adicionar</a>
                </div>
            </div>            
            <fieldset>
                <legend>Rotinas</legend>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Nome
                            </th>
                            <th>
                                Descrição
                            </th>
                            <th>
                                Tipo de Meta
                            </th>
                            <th>
                                Meta
                            </th>
                            <th>
                                Categoria
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RotinaTemplate.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RotinaTemplate.Descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RotinaTemplate.TipoMeta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RotinaTemplate.Meta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RotinaTemplate.Categoria.Nome)
                            </td>
                            <td>
                                <a asp-action="Editar" asp-route-id="@item.IdRotina">Editar</a>
                            </td>
                            <td>
                                <a asp-action="Detalhes" asp-route-id="@item.IdRotina">Detalhes</a>
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.IdRotina">Remover</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </fieldset>
        </main>
    </div>

